<!--igvc_run.launch-->
<launch>
    <master auto="start"/>
<!--
<param name="use_sim_time" value="true"/>
-->
<!--This line sets the path to the ROS bagfiles to run -->
<arg name="path" default="$(env HOME)/catkin_ws/rosbags/weMadeIt2/" />

<!--These are the bag files to run -->
<arg name="imu" default="$(arg path)imudataCOVQuat.bag" />
<arg name="imu2" default="$(arg path)imudataCOV.bag" />

<!-- This line runs all the bag files specified above -->
<node pkg="rosbag" type="play" name="player" output="screen" 
    args=" -r 0.5 --clock $(arg imu)"/>

<!-- =============   TRANSFORMS  ======================= 
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_velodyne"
        args="0.1 0.0 1.14 0 0 0 1 base_link velodyne 100" />



    <node name="imu_tfpy" pkg="igvc_run" type="imu_tf.py" output="screen"/>
-->
</launch>

