<!--igvc_run.launch-->
<launch>
    <master auto="start"/>
<!-- =============   bagfiles  ======================= 

<arg name="path" default="$(env HOME)/catkin_ws/rosbags/field1/" />
   rosparam set use_sim_time true
imudataRPY
-->
<param name="use_sim_time" value="true"/>

<!--This line sets the path to the ROS bagfiles to run -->
<arg name="path" default="$(env HOME)/catkin_ws/rosbags/weMadeIt2/" />

<!--These are the bag files to run -->
<arg name="enc_raw" default="$(arg path)enc_raw.bag" />
<arg name="gps" default="$(arg path)gps_fix.bag" />
<arg name="imu" default="$(arg path)imudataCOVQuat.bag" />
<arg name="imu2" default="$(arg path)imudataCOV.bag" />
<arg name="rCamera" default="$(arg path)right_camera.bag" />
<arg name="lCamera" default="$(arg path)left_camera.bag" />
<arg name="laser3D" default="$(arg path)pointcloud.bag" />

<!-- This line runs all the bag files specified above -->
<node pkg="rosbag" type="play" name="player" output="screen" 
    args=" -r 0.1 --clock $(arg enc_raw) $(arg gps) $(arg imu) $(arg rCamera) $(arg lCamera)"/>

<!-- =============   TRANSFORMS  ======================= -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_velodyne"
        args="0.1 0.0 1.14 0 0 0 1 base_link velodyne 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_gps_frame"
        args="-0.52 0.0 0.92 0 0 0 1 base_link gps_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_frame"
        args="0 0 0 0 0 0 1 base_link imu_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_left_camera_frame"
        args="0.27 0.06 1.08 0 0.75 0 base_link left_camera_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_right_camera_frame"
        args="0.27 -0.06 1.08 0 0.75 0 base_link right_camera_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_left_wheel_frame"
        args="0.27 0.28 -0.47 0 0 0 1 base_link left_wheel_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_right_wheel_frame"
        args="0.27 -0.28 -0.47 0 0 0 1 base_link right_wheel_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link"
        args="0 0 0.47 0 0 0 1 base_footprint base_link 100" />

<node pkg="tf" type="static_transform_publisher" name="odom_to_map"
        args="0 0 0 0 0 0 1 map odom 100" />
<!--
<node pkg="tf" type="static_transform_publisher" name="odom_to_map"
        args="320153.5 4727416.4 247.1 0 0 0 1 odom base_footprint 100" />
  
        args="-320153.5 -4727416.4 -247.1 0 0 0 1 map odom 100" />

rostopic list
        /camera/left/color  (nul frame)
        /camera/right/color  (nul frame)
        /clock
        /enc_raw (no frame no header)
        /gps/fix (gps_frame)
        /imu_data (imu_frame)
        /rosout
        /rosout_agg
        /tf
TODO get tf for odom to base_footprint
        /camera/left/color
        /camera/right/color
        /clock
        /enc_raw
        /gps/fix
        /imu_data
        /robot_pose_ekf/odom_combined (odom)
        /rosout
        /rosout_agg
        /tf
        /tf_static
        /vo (base_footprint) child ('')
-->

<node name="gps_conv" pkg="gps_common" type="utm_odometry_node">
  <remap from="odom" to="vo"/>
  <remap from="fix" to="/gps/fix" />
  <param name="frame_id" value="base_footprint" />
</node>


  <include file="$(find igvc_run)/launch/dml_ekf.launch">
  </include>

<!--
  <include file="$(find igvc_run)/launch/move_base.launch">
  </include>

-->
</launch>

