<!--igvc_run.launch-->
<launch>
    <master auto="start"/>
<!-- =============   bagfiles  =======================
<arg name="path" default="$(env HOME)/catkin_ws/rosbags/field1/" />

<arg name="enc" default="$(arg path)enc_raw.bag" />
<arg name="gps" default="$(arg path)gps_fix.bag" />
<arg name="imu" default="$(arg path)imudata.bag" />
<arg name="rCamera" default="$(arg path)right_camera.bag" />
<arg name="lCamera" default="$(arg path)left_camera.bag" />
<arg name="pCloud" default="$(arg path)pointcloud.bag" />

<node pkg="rosbag" type="play" name="player" output="screen" 
    args="-clock -l $(arg enc) $(arg imu)"/>
-->
<!-- =============   Nodes  =======================-->
  <node pkg="igvc_roboteq" type="igvc_roboteq_odom_node" name="roboteq_odom">
  </node> 

  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
    <!--<remap from="odom" to="base_link"/>-->
    <remap from="wheels/odom" to="odom"/>
  </node>



</launch>

