<!--igvc_run.launch-->
<launch>

<!-- =============   TRANSFORMS  ======================= -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_velodyne"
        args="-0.1 0.0 1.14 0 0 0 1 base_link velodyne 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_gps_frame"
        args="0.52 0.0 0.92 0 0 0 1 base_link gps_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_frame"
        args="0 0 0 0 0 0 1 base_link imu_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_right_camera_frame"
        args="-0.27 -0.06 1.08 0 0.75 0 base_link right_camera_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_left_camera_frame"
        args="-0.27 0.06 1.08 0 0.75 0 base_link left_camera_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_left_wheel_frame"
        args="-0.27 0.28 -0.47 0 0 0 1 base_link left_wheel_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_right_wheel_frame"
        args="-0.27 -0.28 -0.47 0 0 0 1 base_link right_wheel_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link"
        args="0 0 0.47 0 0 0 1 base_footprint base_link 100" />

<node pkg="tf" type="static_transform_publisher" name="odom_to_map"
        args="0 0 0 0 0 0 1 map odom 100" />

<!-- =============   NODES and Launch Files  ======================= -->
<!--
 run gps_imu node seperately first.. needs to be ran until "INS_SOLUTION_GOOD" is given and then keep on. if you power off the cns than restart the process.-->
<node name="novatel_CNS5000" pkg="gps_imu" type="usma_novatel_driver.py" output="screen"/>

<!--utm odom converter node for goal location -->
<node name="gps_goal_conv" pkg="gps_common" type="utm_odometry_node">
  <remap from="odom" to="goal_utm"/>
  <remap from="fix" to="goal_gps" />
</node>

<!--utm odom converter node for current location-->
<node name="gps_conv" pkg="gps_common" type="utm_odometry_node">
  <remap from="odom" to="vo"/>
  <remap from="fix" to="gps/fix" />
  <param name="frame_id" value="base_footprint" />
</node>

  <include file="$(find igvc_run)/launch/dml_ekf.launch">
  </include>

  <include file="$(find igvc_run)/launch/dml_move_base.launch">
  </include>
<!---->
  <include file="$(find roboteq)/launch/roboteq_driver.launch">
  </include> 

  <include file="$(find velodyne_bringup)/launch/igvc_velodyne.launch">
    </include>
  <!--TODO write script that conects to the velodyne ethernet port-->

  <include file="$(find triclops_vision)/launch/triclops_camera2.launch">
    </include>


<!--creates bag files that get overwritten each time this runs-->
<node name="bags" pkg="igvc_run" type="rosbagRecord.sh" />

<!-- Start an rviz node with a custom configuration  -->
<node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find igvc_run)/launch/igvc_run_everything.rviz"/>
</launch>

