<!-- roboteq driver -->
<launch>

  <node respawn="true" pkg="joy" type="joy_node" name="joystick">
  <param name="autorepeat_rate" value="10.0" />
  </node>
  
  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop">
  <remap from="cmd_vel" to="roboteq_driver/cmd"/>
  </node>

  <node pkg="igvc_roboteq" type="igvc_roboteq_driver.py" name="roboteq_driver">
  </node> 
 
  <node pkg="igvc_roboteq" type="igvc_roboteq_odom_node" name="roboteq_odom">
  <!--remap from="wheels/odom" to="odom"/-->
  </node> 

</launch>
