<!--igvc_configuration.launch-->
<launch>
                
  <!-- Required parameters -->
  <arg name="manager" value="velodyne_nodelet_manager"/>
  <arg name="output_topic" value="/velodyne"/>
  
  <!-- start nodelet manager and driver nodelets -->
  <include file="$(find velodyne_driver)/launch/nodelet_manager.launch">
    <arg name="model" value="64E"/>
    <arg name="pcap" value=""/>
  </include>
  
<!-- start cloud nodelet 
    <include file="$(find velodyne_pointcloud)/launch/cloud_nodelet.launch">
    <arg name="calibration" value="$(arg calibration)"/>
    </include>
-->
      <!-- Run the pointcloud segmenter to remove the ground 
      <node pkg="nodelet" type="nodelet" name="segmenter_nodelet" args="load structured_segmentation/ground_segmenter $(arg manager)" output="screen">
        <remap from="~input" to="/velodyne_points"/>
      </node>   
-->
    <node name="pointcloud_to_laserscan" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node">
        <remap from="cloud_in" to="/velodyne_points"/>
        <!--remap from="scan" to="laser_scan"/-->
        <param name="output_frame_id" value="/velodyne"/>    
        <param name="min_height" value="-1"/>
        <param name="max_height" value="3"/>
        <param name="angle_min" value="-3.14159"/>
        <param name="angle_max" value="3.14159"/>
        <param name="scan_time" value="1/1000.0"/>
        <param name="range_min" value="0"/>
        <param name="range_max" value="50"/>    
    </node>


</launch>
