<launch>

  <!-- Required parameters -->
  <arg name="manager" value="velodyne_nodelet_manager"/>
  <arg name="display_debug" default="false"/>

  <group if="$(arg display_debug)">
    <node pkg="rxtools" type="rxconsole" name="rxconsole"/>
    <node pkg="rviz" type="rviz" name="rviz"/>
  </group>

  <node pkg="nodelet" type="nodelet" name="velodyne_nodelet_manager" args="manager" />


  <!-- Run the pointcloud segmenter to remove the ground -->
<!--
  <node pkg="nodelet" type="nodelet" name="segmenter_nodelet"
    args="load structured_segmentation/ground_segmenter $(arg manager)"
    output="screen">
    <remap from="~input" to="/velodyne_points"/>
    <remap from="~output_ground" to="/structured_segmenter/output_ground"/>
    <remap from="~output_not_ground" to="/structured_segmenter/output_not_ground"/>
  </node>
-->

  <!-- Conver the pointcloud to a laser scan while z-filtering -->
  <node pkg="nodelet" type="nodelet" name="pointcloud_to_laserscan" args="load pointcloud_to_laserscan/CloudToScan $(arg manager)">
    <param name="output_frame_id" value="/velodyne"/>
    <remap from="cloud" to="velodyne_points"/>
    <remap from="scan" to="laser_scan"/>
  </node>


</launch>
