<launch>
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <!-- <arg name="world_name" default="$(find iggy_gazebo)/worlds/iggy_race.world" /> -->
  <arg name="world_name" default="$(find iggy_gazebo)/worlds/igvc_basic.world" />

  <!-- Robot Pose -->
  <arg name="x" default="-3.714"/>
  <arg name="y" default="-21.26"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- Short-term hack to support the original front_laser:=true argument for spawning
       the simulator. This will be removed in favour of using the config:=x arg instead. -->
  <arg name="front_laser" default="true" />
  <arg name="default_config" value="front_laser" if="$(arg front_laser)" />
  <arg name="default_config" value="base" unless="$(arg front_laser)" /> 
  <!-- end of hack -->

  <!-- Configuration of Iggy which you would like to simulate.
       See iggy_description for details. -->
  <arg name="config" default="$(arg default_config)" />

  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name" value="$(arg world_name)" />
  </include>

  <!-- Load Iggy's description, controllers, and teleop nodes. -->
  <include file="$(find iggy_description)/launch/description.launch">
    <arg name="config" value="$(arg config)" />
    
  </include>
  <include file="$(find iggy_control)/launch/control.launch" />
  <include file="$(find iggy_control)/launch/teleop.launch">
    <arg name="joystick" value="true"/>
  </include>

  <!-- Spawn Iggy -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	      args="-urdf -model iggy -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />

<include file="$(find iggy_navigation)/launch/include/move_base.launch"></include>

<node pkg="tf" type="static_transform_publisher" name="world_to_map"
    args="0 0 0 0 0 0 1 world map 100" />
 <!--    
<node pkg="tf" type="static_transform_publisher" name="baseFootprint_to_baseLink"
    args="0 0 0.0655 0 0 0 base_footprint base_link 100" />  -->

  <!-- Start RVIZ -->
  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find iggy_gazebo)/launch/iggy_gazebo.rviz"/>  
</launch>
