<!--igvc_run.launch-->
<launch>


  <node pkg="tf" type="static_transform_publisher" name="map_to_odom"
        args="0 0 0.39 0 0.55 0 map bumblebee2 100" />


  <node pkg="triclops_vision" type="triclops_camera_driver" name="triclops_camera_driver" output="screen"></node>
  <node pkg="triclops_vision" type="Hansing_converter.py" name="image_converter" output="screen"></node>
</launch>

