<!--triclops_bagplay.launch-->
<launch>
    <master auto="start"/>
<!-- =============   bagfiles  ======================= -->

		<!-- field 1, no obstacles -->
<arg name="path" default="$(env HOME)/catkin_ws/rosbags/field1/" />
		<!-- field 2, obstacles -->
<!--<arg name="path" default="$(env HOME)/catkin_ws/rosbags/field2/" />-->

<arg name="rCamera" default="$(arg path)right_camera.bag" />
<arg name="lCamera" default="$(arg path)left_camera.bag" />

<node pkg="rosbag" type="play" name="player" output="screen" 
    args="--clock -l $(arg rCamera) $(arg lCamera)"/>

<node pkg="image_view" type="image_view" name="image_viewL" output="screen"> 
   <remap from="image" to="/camera/left/rgb"/>
</node>

<node pkg="image_view" type="image_view" name="image_viewR" output="screen"> 
   <remap from="image" to="/camera/right/rgb"/>
</node>

</launch>
