<!--igvc_run.launch-->
<launch>


<!--  <node pkg="tf" type="static_transform_publisher" name="map_to_odom"
        args="0 0 0.39 0 -0.785 0 map bumblebee2 100" /> -->


  <node pkg="triclops_vision" type="triclops_camera_driver" name="triclops_camera_driver" output="screen"/>
  <node pkg="triclops_vision" type="Hansing_converter.py" name="red_blue_flag_filter" output="screen"></node>
    
   

<!-- Start an rviz node with a custom configuration
rosrun tf static_transform_publisher 0 0 0.89 0 -0.785 0 map bumblebee2 100

-->
<!--<node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find triclops_vision)/launch/triclops_camera.rviz"/> -->


</launch>

