<?xml version="1.0"?>
<launch>

    <param name="use_sim_time" value="true" /> 

    <node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="0 0 0 0 0 0 map odom 100" />

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_cns_frame" args="-0.28 0 1.18 -1.5708 0 0 base_link cns5000_frame 100" />

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_frame" args="0.28 0.0 0.39 0 0 0 base_link imu_frame 100" />

    <node pkg="rosbag" type="play" name="rosbagplay" output="screen" args="--clock /home/user1/Data/imus/2017-04-21-15-54-05_new.bag"/>

    <node pkg="iggy_navigation" type="gps_odom.py" name="gps_odom" output="screen" ns="cns5000"/>

    #### cns5000 IMU NODES ###############################################
    <!-- output topic is imu/data -->
    <node pkg="imu_filter_madgwick" type="imu_filter_node" respawn="true" name="imu_filter_node" output="screen" >
        <remap from="imu/data_raw" to="/cns5000/imu/data_raw" />
        <remap from="imu/mag" to="/xsens/magnetic" />
        <param name="pub_tf" value="false"/>
        <param name="fixed_frame" value="odom2"/>
        <param name="reverse_tf" value="true"/>
    </node>
    
    #### XSENS IMU NODES ###############################################
    <!--   -->
    <node pkg="imu_filter_madgwick" type="imu_filter_node" respawn="true" name="imu_filter_node" output="screen" ns="xsensreplay">
        <remap from="imu/mag" to="/xsens/magnetic" />
        <param name="pub_tf" value="false"/>
        <param name="fixed_frame" value="odom3"/>
        <param name="reverse_tf" value="true"/>
    </node>

   
    #### LOCALIZATION  ###############################################
    <rosparam command="load" file="$(find iggy_control)/config/test_single_ekf_iggy.yaml" />

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
        <remap from="odometry/filtered" to="odometry/filtered_map"/>
    </node>



    <!-- <node pkg="rosbag" type="record" name="rosbagrecord" args="-a -o /home/user1/Data/"/>

<param name="child_frame_id" value="base_link"/>

Publications: 
 * /odometry/gps [nav_msgs/Odometry]
 * /tf_static [tf2_msgs/TFMessage]
 * /rosout [rosgraph_msgs/Log]

Subscriptions: 
 * /tf [tf2_msgs/TFMessage]
 * /tf_static [tf2_msgs/TFMessage]
 * /clock [rosgraph_msgs/Clock]
 * /cns5000/fix [sensor_msgs/NavSatFix]
 * /cns5000/odom/gps [nav_msgs/Odometry]




 -->

</launch>
