<launch>

<machine name="igvc-stereo" address="igvc-stereo" user="ubuntu password="ubuntu"
	env-loader="/home/ubuntu/catkin_ws/devel/env.sh"
	default="false" />

<node pkg="igvc_stereo" type="zed-ros" output="screen" name="zed_ros_wrapper" machine="igvc-stereo"/>

<node pkg="tf" type="static_transform_publisher" name="zed_to_map"
	args="0.44 0.0 1.18 0 0.52 0 zed_map zed_current_frame 100" machine="igvc-stereo"/>

</launch>
