<!-- Phidgets IMU launch file -->

<launch>

  #### Phidgets ######################################################

  <node pkg="nodelet" type="nodelet" name="imu_manager" 
    args="manager" output="screen" ns="phidget"/>

  <node pkg="nodelet" type="nodelet" name="PhidgetsImuNodelet" 
    args="load phidgets_imu/PhidgetsImuNodelet imu_manager" output="screen" ns="phidget">
    <param name="period" value="40"/>
  </node>

  <node pkg="iggy_bringup" type="imu_filter.py" name="phidgfilter" output="screen" ns="phidget">        
    <remap from="imu/raw" to="imu/data_raw"/>        
    <remap from="magnetic" to="imu/mag"/>
    <param name="imu_frame" value="phidgImu"/>
  </node>

<!--
  <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet" 
    args="load imu_filter_madgwick/ImuFilterNodelet imu_manager" 
    output="screen" ns="phidget">
    <param name="use_mag" value="true"/>
  </node>
 -->

  #### XSENS IMU ###############################################
	<node pkg="xsens_driver" type="mtnode_new.py" name="xsens_driver" output="screen" ns="xsens" >
		<param name="frame_id" value="imu_frame"/>
		<param name="frame_local" value="ENU"/>
		<param name="frame_local_imu" value="ENU"/>
    	<param name="device" value="/dev/mti700"/>
    	<param name="baudrate" value="115200"/>
	</node>

  <node pkg="iggy_bringup" type="imu_filter.py" name="xsensfilter" output="screen" ns="xsens">        
    <remap from="imu/raw" to="imu/data"/>        
    <remap from="magnetic" to="magnetic"/>
    <param name="imu_frame" value="xsensImu"/>
  </node>

  #### cns5000 IMU ###############################################
  <node name="novatel_CNS5000_imu" pkg="cns5000" type="imu_parser.py" output="screen" ns="cns5000">
    <remap from="imu/raw" to="imu/data"/>        
  </node>

  <node pkg="iggy_bringup" type="imu_filter.py" name="cs5000filter" output="screen" ns="cns5000">        
    <remap from="imu/raw" to="imu/data"/>        
    <remap from="magnetic" to="/xsens/magnetic"/>
    <param name="imu_frame" value="cnsImu"/>
  </node>

  #### Other stuff ###############################################
  <!-- Laser Range Finder -->
    <include file="$(find velodyne_bringup)/launch/igvc_velodyne.launch" />     

    <node pkg="tf" type="static_transform_publisher" name="odom_to_velodyne"
        args="0 0 0 0 0 0 odom velodyne 100" /> 

    <node pkg="tf" type="static_transform_publisher" name="map_to_odom"
        args="0 0 0 0 0 0 map odom 100" /> 

<!-- Start an rviz node with a custom configuration 

  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find iggy_gazebo)/launch/iggy_gazebo.rviz"/>    -->  
<node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find iggy_bringup)/launch/test_imu.rviz"/>


</launch>
