#!/usr/bin/env python
PACKAGE = "igvc_stereo"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Line detection dynamic Parameters
lines=gen.add_group("lines")
lines.add("max_delt_param",	int_t,	1,	"max_delt",	15,	0,	50)
lines.add("min_val_param",	int_t,	1,	"min_val",	150,	0,	255)

# Line_Filter Dynamic Parameters
filter=gen.add_group("filter")
filter.add("thresh_val_param",      int_t,    1, "thresh_val",      200,    0, 255)
filter.add("erosion_size_param",    int_t,    1, "erosion_size",    3,      0, 25)
hough=gen.add_group("Hough")
hough.add("h_rho_param",            int_t,    1, "h_rho",           1,      0, 25)
hough.add("h_theta_param",          int_t,    1, "h_theta",         180,    0, 360)
hough.add("h_thresh_param",         int_t,    1, "h_thresh",        30,     0, 255)
hough.add("h_minLineLen_param",     int_t,    1, "h_minLineLen",    21,     0, 250)
hough.add("h_maxLineGap_param",     int_t,    1, "h_maxLineGap",    20,      0, 250)
hough.add("upperLimit_param",       int_t,    1, "upper pixel",    118,      0, 250)
hough.add("lowerLimit_param",       int_t,    1, "Lower pixel",    250,      0, 250)

# Flag_Filter Dynamic Parameters
flags=gen.add_group("flags")
flags.add("R_H_Max_param",	int_t,	1,	"R_H_Max",	40,	0,	255)
flags.add("R_H_Min_param",	int_t,	1,	"R_H_Min",	230,	0,	255)
flags.add("R_S_Max_param",	int_t,	1,	"R_S_Max",	255,	0,	255)
flags.add("R_S_Min_param",	int_t,	1,	"R_S_Min",	190,	0,	255)
flags.add("R_V_Max_param",	int_t,	1,	"R_V_Max",	255,	0,	255)
flags.add("R_V_Min_param",	int_t,	1,	"R_V_Min",	100,	0,	255)
flags.add("B_H_Max_param",	int_t,	1,	"B_H_Max",	200,	0,	255)
flags.add("B_H_Min_param",	int_t,	1,	"B_H_Min",	150,	0,	255)
flags.add("B_S_Max_param",	int_t,	1,	"B_S_Max",	255,	0,	255)
flags.add("B_S_Min_param",	int_t,	1,	"B_S_Min",	150,	0,	255)
flags.add("B_V_Max_param",	int_t,	1,	"B_V_Max",	255,	0,	255)
flags.add("B_V_Min_param",	int_t,	1,	"B_V_Min",	50,	0,	255)

exit(gen.generate(PACKAGE, "zed-ros", "color_filter_params"))



