<!--AY2017 Test Launch file for CNS5000-->
<launch>

<!-- =============   TRANSFORMS  ======================= -->
<!-- TODO add transforms as a seperate launch file so when they change here they change in all launch files, like bag and demos -->
<include file="$(find iggy_bringup)/launch/config/tf.launch"></include>

<!-- Navigatin System CNS5000    -->
<node name="novatel_CNS5000" pkg="cns5000" type="usma_novatel_driver.py" output="screen" ns="cns5000">
	<remap from="gps/fix" to="/cns5000/fix"/>   
</node>   
<!--
<node name="nmea_serial_driver" pkg="nmea_navsat_driver" type="nmea_serial_driver" output="screen" ns="globalsat">
    <param name="port" value="/dev/ttyUSB3"/>
</node>  -->

 
        <node pkg="xsens_driver" type="mtnode_new.py" name="xsens_driver" output="screen" ns="xsens" >
            <param name="frame_id" value="imu_frame"/>
            <param name="frame_local" value="ENU"/>
            <param name="frame_local_imu" value="ENU"/>
            <param name="device" value="/dev/mti700"/>
            <param name="baudrate" value="115200"/>
        </node>


<!--   Start an rviz node with a custom configuration 
<node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find cns5000)/launch/test_imu.rviz"/>
 -->
</launch>
