<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="depth_camera">
        <gazebo reference="camera_center">
            <sensor type="depth" name="depth_camera">
                <always_on>true</always_on>
                <update_rate>20.0</update_rate>
                <camera>
                    <horizontal_fov>${110.0*3.141/180.0}</horizontal_fov>
                    <image>
                        <format>B8G8R8</format>
                        <width>640</width>
                        <height>480</height>
                    </image>
                    <clip>
                        <near>0.01</near>
                        <far>25</far>
                    </clip>
                </camera>
                 <plugin name="depth_camera_frame_controller" filename="libgazebo_iggy_vision.so"> 
                <!-- <plugin name="depth_camera_frame_controller" filename="libgazebo_ros_depth_camera.so"> -->
                    <always_on>true</always_on>
                    <updateRate>20.0</updateRate>
                    <cameraName>depth_camera</cameraName>
                    <imageTopicName>rgb/image_raw</imageTopicName>
                    <pointCloudTopicName>/point_cloud/white_cloud</pointCloudTopicName>
                    <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
                    <frameName>zed_current_frame</frameName>
                    <pointCloudCutoff>1.5</pointCloudCutoff>
                    <distortionK1>0</distortionK1>
                    <distortionK2>0</distortionK2>
                    <distortionK3>0</distortionK3>
                    <distortionT1>0</distortionT1>
                    <distortionT2>0</distortionT2>
                    <linesOnly>1</linesOnly>
                </plugin>
            </sensor>
        </gazebo>

        <link name="left_camera">
            <visual>
                <!-- <origin xyz="0 0 0" rpy="0 1.57 0" /> -->
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="0.007" length=".031" />
                </geometry>
                <material name="dark_grey">
                    <color rgba="0.1 0.1 0.1 1" />
                </material>
            </visual>
        </link>

        <link name="right_camera">
            <visual>
                <!-- <origin xyz="0 0 0" rpy="0 1.57 0" /> -->
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="0.007" length=".031" />
                </geometry>
                <material name="dark_grey">
                    <color rgba="0.1 0.1 0.1 1" />
                </material>
            </visual>
        </link>

        <link name="camera_center">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://iggy_description/meshes/zed.stl" />
                </geometry>
                <material name="light_grey">
                    <color rgba="0.8 0.8 0.8 0.8" />
                </material>
            </visual>
        </link>

        <joint name="left_camera_joint" type="fixed">
            <parent link="camera_center" />
            <child link="left_camera" />
            <origin xyz="0 0.06 0" rpy="0 0 0" />
        </joint>

        <joint name="right_camera_joint" type="fixed">
            <parent link="camera_center" />
            <child link="right_camera" />
            <origin xyz="0 -0.06 0" rpy="0 0 0" />
        </joint>

        <!-- Align the optical frame to the camera frame -->
        <link name="zed_current_frame"></link>
        <joint name="zed_current_frame_joint" type="fixed">
            <parent link="camera_center" />
            <child link="zed_current_frame" />
            <origin rpy="0 0 0" xyz="0 0 0" />
            <!-- <origin rpy="-1.57 0 -1.57" xyz="0 0 0" /> -->
        </joint>


    </xacro:macro>
</robot>
