<launch>

    <!-- Required parameters -->
    <arg name="manager" value="image_pipeline_manager" />
    <arg name="bag" value="/mnt/LinuxVault/Data/IGVC/2013-06-04-18-51-02.bag" />

    <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager"/>

    <node pkg="rosbag" type="play" name="rosbag_play" args="-l $(arg bag)" />

    <node pkg="nodelet" type="nodelet" name="image_transform_nodelet"
        args="load igvc_image_pipeline/ImageToPointCloud $(arg manager)" output="screen">
        <remap from="in" to="/stereo/left_out/image_rect_color"/>
        <remap from="out" to="/stereo/left_out/image_rect_color_transformed"/>
    </node>

</launch>

<!--
    <param name="" value=""/>
    <remap from="" to=""/>
-->
