<!--igvc_run.launch-->
<launch>

 <!-- =============   bagfiles  =======================-->
<param name="use_sim_time" value="true"/>

<!--This line sets the path to the ROS bagfiles to run -->
<arg name="path" default="$(env HOME)/catkin_ws/rosbags/oak_mod/" />

<!--These are the bag files to run 
<arg name="enc_raw" default="$(arg path)enc_raw.bag" /> -->
<arg name="rCamera" default="$(arg path)right_camera.bag" />
<arg name="lCamera" default="$(arg path)left_camera.bag" />
<!--<arg name="other" default="$(arg path)other.bag" /> -->

<!-- This line runs all the bag files specified above -->
<node pkg="rosbag" type="play" name="player" output="screen" 
    args=" -r 0.5 --clock $(arg rCamera) $(arg lCamera)"/>

<!-- =============   TRANSFORMS  ======================= -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_left_camera_frame"
        args="0.27 0.06 1.08 0 0.75 0 base_link left_camera_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_right_camera_frame"
        args="0.27 -0.06 1.08 0 0.75 0 base_link right_camera_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link"
        args="0 0 0.47 0 0 0 1 base_footprint base_link 100" />

<node pkg="tf" type="static_transform_publisher" name="odom_to_map"
        args="0 0 0 0 0 0 1 map odom 100" />

</launch>

